.pagina-inicial {
    max-width: 800px;
    margin: auto;
    padding: 50px;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

.pagina-inicial h1 {
    color: #333;
}

.pagina-inicial p {
    text-align: justify;
    margin-bottom: 35px;
}
